* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box; /*Improved layout*/
}

.nav4 {
    /* background-color: crimson; */
    /* background: linear-gradient(to right, #0D1B2A, #D4AF37); */
    /* background-color: rgba(13, 27, 42, 0.3); /* semi-tensparent bg for glass effect*/
    background-color: rgba(13, 27, 42, 0.5); /* more opaque bg */
    backdrop-filter: blur(10px); /* for glass effect*/
    position: fixed;
    z-index: 2; /* for glass effect*/
    height: auto;
    /* width: 100%; */
    width: 98%; /* for centering */
    top: 1vh; /* for glass effect*/
    left:1vw; /* for centering */
    right: 1vw; /* for centering */
    /* border: 2px solid rgba(255, 255, 255, 0.1); /* for glass effect*/
    border: 2px solid rgba(255, 255, 255, 0.2); /* more visible border */
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* slight shadow for depth */
}

.navdiv4 {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo4 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin: 5px 10px;
    padding: 8px 12px;
    /* border: 2px solid #D4AF37; */
    border-radius: 20px;
    cursor: pointer; /*improved*/
}

.logo4:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 5px;
    padding: 5px;
}

li a {
    color: white;
    /* color: #1A2A3A; */
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
}

li a:hover{
    background-color: #D4AF37;
    color: black;
}

button {
    /* background-color: black; */
    background: #D4AF37;
    margin: 5px;
    padding: 2px 8px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 1px 2px 6px 0px;
}

button:hover {
    background: #1A2A3A; /* Slightly lighter gold when hovered */
}

button a {
    /* color: white; */
    color: #1A2A3A;
    font-size: 18px;
    font-weight: bold;
}

button a:hover{
    color:#D4AF37;
}
