* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  font-size: medium;
}

header {
  background-color: #1c61da;
  color: white;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

nav ul li {
  padding: 10px 20px;
  font-size: medium;
  font-weight: 600;
  border: 2px solid black;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  margin-top: 70px;
}

.box1,
.box2 {
  border: 2px solid;
  width: 50vw;
  height: 200vh;
}

.box1 {
  background-color: yellow;
  color: red;
  border-color: green;
}

.box2 {
  background-color: blue;
  color: aliceblue;
  border-color: red;
}

footer {
  background-color: rgb(49, 47, 47);
  color: rgb(41, 213, 213);
  text-align: center;
}
