* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.nav4 {
    position: fixed;
    z-index: 2; 
    height: auto;
    width: 98%; 
    top: 1vh; 
    left:1vw; 
    right: 1vw;
    background-color: rgba(13, 27, 42, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); 
    border: 2px solid rgba(211, 191, 11, 0.2);
    border-radius: 15px;
}

.nav4::before{
    content: "";
    position: absolute;
    top:0;
    left: -98%;
    width: 98vw;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(90deg, transparent, rgba(225, 225, 225, 0.4), transparent);
    transition: 0.5s;
}

.nav4:hover:before{
    left: 98%;
}

.navdiv4 {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo4 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin: 0px 10px;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.logo4:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0px 15px;
    padding: 0px 5px;
}

li a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

li a:hover{
    color: #d4af37;
}

#menu-icon{
    color:white;
    font-size: 25px ;
    display: none;
}

@media (max-width:992px) {
    .nav4{
        padding: 1.25rem 4%;
    }
}

@media (max-width:768px) {
    #menu-icon{
        display: block;
    }
    .nav4{
        position: fixed;
        left:0;
        width: 100%;
    }

    li a{
        display: block; 
    }
}