.navbar {
    height: 10vh;
    background: linear-gradient(to right, rgba(29, 26, 26, 0.7), rgba(29, 26, 26, 0.4));
    border: var(--bord2) solid rgba(30, 29, 29, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(7px);
    box-shadow: 1px 2px 7px black;

    position: fixed;
    top: 1vh;
    left: 1vw;
    right: 1vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
    z-index: 10;
}

.navbar-logo {
    color: var(--text-light);
    font-weight: 600;
    font-size: 20px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-light);
    font-size: 18px;
    font-weight: 600;
}
