.chat{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 5vw;
    width: 5vw;
    text-align: center;
    padding: 20px;
    margin: 1px;
    background: rgba(98, 95, 95, 0.513);
    border: 1px solid rgba(225, 225, 225, 0.2);
    border-radius: 100%;
}